
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 67% 94%;
    --foreground: 20 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 20 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 10%;
    --primary: 0 79% 72%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 67% 94%;
    --secondary-foreground: 240 10% 20%;
    --muted: 27 30% 90%;
    --muted-foreground: 27 10% 40%;
    --accent: 240 67% 94%;
    --accent-foreground: 0 79% 72%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 30% 85%;
    --input: 27 30% 85%;
    --ring: 0 79% 72%;
    --chart-1: 0 79% 72%;
    --chart-2: 240 67% 94%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
